/* Grundlegendes Layout */
:root {
  --bg: #0d0d0d;
  --card: #151515;
  --text: #f2f2f2;

  --green: #57dc84;
  --blue: #34caff;
  --purple: #e44ce7;
  --orange: #fb8638;

  --border: #2a2a2a;
}

body {
  margin: 0;
  font-family: "Space Mono", monospace;
  text-transform: lowercase;
  background-color: var(--bg);
  color: var(--text);
  text-align: center;
}

/* Header */
header {
  background-color: #111;
  border-bottom: 2px solid var(--orange);
  padding: 2rem 1rem;
}

header h1 {
  color: var(--green);
  font-size: 3rem;
  margin: 0;
}

header h1::after {
  content: "_";
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

header p {
  color: #bfbfbf;
}

/* Hauptbereich */
main {
  padding: 2rem 1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

/* Buttons */
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.btn {
  display: inline-block;
  background-color: transparent;
  color: var(--green);

  text-decoration: none;

  padding: 1rem 2rem;

  border: 2px solid var(--green);
  border-radius: 12px;

  transition: 0.3s;
}

.btn:hover {
  background: var(--green);
  color: black;

  box-shadow:
    0 0 10px var(--green),
    0 0 20px var(--green);
}

/* Spezielle Farbe für Zurück-Button */
.btn.back-btn {
  border-color: var(--orange);
  color: var(--orange);
}

.btn.back-btn:hover {
  background: var(--orange);
  color: black;

  box-shadow:
    0 0 10px var(--orange),
    0 0 20px var(--orange);
}

header img {
  max-width: 300px;
  margin-top: 1rem;

  border-radius: 12px;

  border: 2px solid var(--blue);

  box-shadow:
    0 0 15px rgba(52, 202, 255, 0.4);
}

.link-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  /* untereinander */
  align-items: left;
  gap: 1rem;
  /* Abstand zwischen den Links */
}

.link-container a {
  color: var(--blue);
  text-decoration: none;
}

.link-container a:hover {
  color: var(--purple);
}

footer {
  background: #111;
  border-top: 1px solid var(--border);
  color: #999;
}

/* für Mobiltelefone */
@media (max-width: 600px) {
  .button-container {
    display: block;
    /* Flex ausschalten */
    text-align: center;
  }

  .btn {
    display: block;
    width: 80%;
    margin: 0.5rem auto;
  }

  .link-container {
    width: 100%;
  }

  .link-container a {
    display: block;
    margin: 0.5rem 0;
  }
}